/*全局样式*/
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-size: 17px;
}

/*首页渐变背景*/
.index-bac {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(150deg, #72afd3, #96fbc4, rgb(93, 203, 129), #72afd3, #96fbc4);
    background-size: 500%;
    /*backdrop-filter: saturate(180%) blur(20px);*/
}

/*表单卡片容器*/
.form-container-card {
    display: flex;
    flex-wrap: wrap;
    background: rgb(254, 254, 254);
    width: 400px;
    height: 450px;
    padding: 20px;
    border-radius: 8%;
    box-shadow: 3px 4px 30px grey;
}

.color-change-4x {
    animation: color-change-4x 13s ease-in-out infinite alternate forwards;
}

@keyframes color-change-4x {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 0;
    }
}

/*边界线 细*/
.border-top-light {
    border-top: rgb(220, 220, 220) solid 1px;
}

.border-right-light {
    border-right: rgb(220, 220, 220) solid 1px;
}

.border-left-light {
    border-left: rgb(220, 220, 220) solid 1px;
}

.border-bottom-light {
    border-bottom: rgb(220, 220, 220) solid 1px;
}


/*边界线 粗*/
.border-top-coarse {
    border-top: rgb(240, 240, 240) solid 2px;
}

.border-right-coarse {
    border-right: rgb(240, 240, 240) solid 2px;
}

.border-left-coarse {
    border-left: rgb(240, 240, 240) solid 2px;
}

.border-bottom-coarse {
    border-bottom: rgb(240, 240, 240) solid 2px;
}

/*hover变色*/
.hover-color-blue:hover {
    color: #72afd3;
}

/*文字溢出隐藏*/
.text-hidden {
    overflow: hidden; /*溢出隐藏*/
    white-space: nowrap; /*规定文本不进行换行*/
    text-overflow: ellipsis; /*当对象内文本溢出时显示省略标记（...）*/
}

.scale-in-ver-top {
    animation: scale-in-ver-top .5s cubic-bezier(.25, .46, .45, .94) both
}

@keyframes scale-in-ver-top {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        opacity: 1
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        opacity: 1
    }
}

.fade-in-fwd {
    animation: fade-in-fwd .6s cubic-bezier(.39, .575, .565, 1.000) both
}

@keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}


