@font-face {
  font-family: "iconfont"; /* Project id 3447939 */
  src: url('iconfont.woff2?t=1655031927531') format('woff2'),
       url('iconfont.woff?t=1655031927531') format('woff'),
       url('iconfont.ttf?t=1655031927531') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxi:before {
  content: "\e638";
}

.icon-xiaoxi2:before {
  content: "\e603";
}

.icon-xiaoxi4:before {
  content: "\e86a";
}

.icon-xiaoxi3:before {
  content: "\e686";
}

.icon-chengyuan:before {
  content: "\e602";
}

.icon-wenjian:before {
  content: "\e615";
}

.icon-set:before {
  content: "\e979";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-icon:before {
  content: "\e694";
}

.icon-yonghu-yuan:before {
  content: "\e623";
}

.icon-xiaoxi1:before {
  content: "\e619";
}

.icon-yonghu:before {
  content: "\e64e";
}

.icon-yonghu1:before {
  content: "\e660";
}

.icon-send:before {
  content: "\e62d";
}

.icon-pengyouquan:before {
  content: "\e8b4";
}

.icon-tianjia:before {
  content: "\e672";
}

.icon-xiaolian:before {
  content: "\e661";
}

